body{
    background-image: url("Background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1920px 1080px;
}

.loginmain{
    background-color: white;
    /* margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%; */
    width: 500px;
    height: 500px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;

}

.h1Main{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 10%;
}