body{
    background-image: url("images/Background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
}

.loginmain{
    background-color: white;
    width: 500px;
    height: 500px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    margin: auto;

}

.h1Main{
text-align: center;
/* font-family: Arial, Helvetica, sans-serif; */
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 10%;
color: rgb(65, 65, 65);
}

.loginbtn {
    display: flex;
    gap: 10%;
    justify-content: center;    
}

.loginbtn button{
    border: 1px solid rgb(179, 166, 166);
    border-radius: 5px;
}
.fbBtn img{
    height: 30px;
}

.googleBtn img{
    height: 30px;
    width: 95px;
    padding-top: 8px;
}

.userName{
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%; 
    padding-left: 25%;
    row-gap: 10px;
    /* border: 1px solid red; */

}
.userName input{
    width: 240px;
    height: 25px;
}

.password{
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%; 
    padding-left: 25%;
    row-gap: 10px;
}
.password input{
    width: 240px;
    height: 25px;
}

.faded{
    color: rgb(156, 156, 156);
}
.signIn {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    /* border: 1px solid red; */
}
.signIn button{
    height: 30px;
    width: 300px;
    color: white;
    background-color: rgb(43, 39, 39);
    border-radius: 5px;
    border: 2px;
}
.signUp{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

@media all and (max-width: 800px){
    .loginmain{
        width: 300px;
        /* border: 2px solid red; */
        margin: auto;
    }
    .loginbtn{
        flex-direction: column ;
        gap: 10px;
        /* border: 2px solid red; */
        align-items: center;
        
    }
    .loginbtn button{
        width: 200px;
        height: 35px;   
    }
    .googleBtn img{
        padding-top: 3px;
    }

    .userName{
        /* border: 2px solid red; */
        padding-left: 0px;
        row-gap: 5px;
        align-items: center;
    }
    .userName input{
        width: 70%;
    }

    .password{
        /* border: 2px solid red; */
        padding-left: 0px;
        row-gap: 5px;
        align-items: center;
    }
    .password input{
        width: 70%;
    }
    
    .signIn button{
        width: 70%;
    }
}