body{
    background-image: url("images/Background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
}

.loginmain{
    background-color: white;
    width: 500px;
    height: 500px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;

}

.h1Main{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 10%;
}

.loginbtn {
    display: flex;
    gap: 10%;
    justify-content: center;    
}

.loginbtn button{
    border: 1px solid rgb(179, 166, 166);
    border-radius: 5px;
}
.fbBtn img{
    height: 30px;
}

.googleBtn img{
    height: 30px;
    padding-top: 3px;
}

.userName{
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%; 
    padding-left: 25%;
    row-gap: 10px;
    /* border: 1px solid red; */

}

.password{
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%; 
    padding-left: 25%;
    row-gap: 10px;
}

.faded{
    color: rgb(156, 156, 156);
}