.heading1{
    background-color:rgb(210, 69, 69);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.heading3{
    color: rgb(216, 36, 36);
}


.dotted{
    border-top:2px dotted red;
    margin-bottom: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    margin-bottom:30px;
    /* border: 1px solid red; */
}
.input{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30%;
    gap: 10px;
    /* border: 1px solid red; */

}

.row{
    flex-direction: row;
}

.input input{
    width: 200px;
    height: 22px;
}

.radio input{
    width: auto;
    height: auto;
}
.red{
    color: red;
}

.input select {
    width: 210px;
}

@media all and (max-width: 800px){
    .container{
        flex-direction: row;
    }
    .container:nth-child(1){
        flex-direction: column;
        padding-bottom: 6%;

    }
    .input{
        flex-direction: column;
        /* position: relative; */
        left: 30;
    }
    .input input{
        width: 100%;
    }
    .input select{
        width: 100%;
    }
    .radio{
        flex-direction: row;
    }
    .radio input{
        width: auto;
        height: auto;
    }
    .radio label{
        padding-left: 0px;
}
}