h1 {
    margin: 0;
    padding: 20px 20px 20px 20px;
    color: #13d490;
    text-shadow: 2px 2px 0px blue;
    border:solid red 1px;
  }
  

  .note {
    font-style: italic;
    font-weight: bold;
  }
  
  .editorial {
    background: rgb(255, 0, 0, 0.25);
    padding: 10px;
  }
  
  .editorial:before {
    content: 'Editor: ';
  }

  .spanClass::before{
    content: "(content added)";
  }

  #exciting {
    background: linear-gradient(to bottom, #ffe8d4, #f69d3c);
    border: 1px solid #696969;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;
  }
  
  #exciting:before {
    content: 'ℹ️';
    margin-right: 5px;
  }


  iframe {
    border: 1px solid black;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
  }