
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
}
/* table td:nth-child(3), table th:nth-child(3){
    border: 2px solid red;
} */

/* table colgroup col:nth-child(3){
    border: 2px solid red;
} */

table colgroup col:nth-child(5){
    border: 2px solid red;background-color: aqua;
    
}